/* Reset some default browser styles */
body, h3, p {
    margin: 0;
    padding: 0;
}

/* Apply basic styles */
h3 {
    font-size: 20px;
    margin-top: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 5px;
}

.property-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.property {
    width: calc(33.33% - 20px);
    padding: 10px;
    background-color: #f0f0f0;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.property img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.property a {
    text-decoration: none;
    color: #333;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}
