/* Reset some default browser styles */
body, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Apply basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header, footer {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.site-map, .credits {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.agent-picture img {
    max-width: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}